In [26]:
import warnings
import numpy as np
import pandas as pd
import pickle
import time
import pymongo
# import matplotlib.pyplot as plt
# import plotly.graph_objs as go
# from plotly.offline import init_notebook_mode, iplot
# from sklearn.metrics import mean_squared_error
# from sklearn.model_selection import train_test_split

from keras import optimizers
from keras.utils import plot_model
from keras.models import Sequential, Model
from keras.layers.convolutional import Conv1D, MaxPooling1D
from keras.layers import Dense, LSTM, RepeatVector, TimeDistributed, Flatten
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
# %matplotlib inline
warnings.filterwarnings("ignore")

# Set seeds to make the experiment more reproducible.
# from tensorflow import set_random_seed
from numpy.random import seed
# set_random_seed(1)
seed(1)

In [78]:
training_data = pd.read_csv('./test/train.csv', parse_dates=['date'])
testing_data = pd.read_csv('./test/test.csv', parse_dates=['date'])

In [79]:
testing_data

          id       date  store  item
0          0 2018-01-01      1     1
1          1 2018-01-02      1     1
2          2 2018-01-03      1     1
3          3 2018-01-04      1     1
4          4 2018-01-05      1     1
...      ...        ...    ...   ...
44995  44995 2018-03-27     10    50
44996  44996 2018-03-28     10    50
44997  44997 2018-03-29     10    50
44998  44998 2018-03-30     10    50
44999  44999 2018-03-31     10    50

[45000 rows x 4 columns]

In [57]:
print('Min date from train set: %s' % training_data['date'].min().date())
print('Max date from train set: %s' % training_data['date'].max().date())

Min date from train set: 2013-01-01
Max date from train set: 2013-06-03

In [101]:
lag_size = 120
# print('Max date from train set: %s' % train['date'].max().date())
# print('Max date from test set: %s' % test['date'].max().date())
# print('Forecast lag size', lag_size)

In [102]:
# daily_sales = training_data.groupby('date', as_index=False)['sales'].sum()
# store_daily_sales = training_data.groupby(['store', 'date'], as_index=False)['sales'].sum()
# item_daily_sales = training_data.groupby(['item', 'date'], as_index=False)['sales'].sum()

In [103]:
# daily_sales_sc = go.Scatter(x=daily_sales['date'], y=daily_sales['sales'])
# layout = go.Layout(title='Daily sales', xaxis=dict(title='Date'), yaxis=dict(title='Sales'))
# fig = go.Figure(data=[daily_sales_sc], layout=layout)
# iplot(fig)

In [104]:
# store_daily_sales_sc = []
# for store in store_daily_sales['store'].unique():
#     current_store_daily_sales = store_daily_sales[(store_daily_sales['store'] == store)]
#     store_daily_sales_sc.append(go.Scatter(x=current_store_daily_sales['date'], y=current_store_daily_sales['sales'], name=('Store %s' % store)))

# layout = go.Layout(title='Store daily sales', xaxis=dict(title='Date'), yaxis=dict(title='Sales'))
# fig = go.Figure(data=store_daily_sales_sc, layout=layout)
# iplot(fig)

In [105]:
# item_daily_sales_sc = []
# for item in item_daily_sales['item'].unique():
#     current_item_daily_sales = item_daily_sales[(item_daily_sales['item'] == item)]
#     item_daily_sales_sc.append(go.Scatter(x=current_item_daily_sales['date'], y=current_item_daily_sales['sales'], name=('Item %s' % item)))

# layout = go.Layout(title='Item daily sales', xaxis=dict(title='Date'), yaxis=dict(title='Sales'))
# fig = go.Figure(data=item_daily_sales_sc, layout=layout)
# iplot(fig)

In [137]:
train_gp = training_data.sort_values('date').groupby(['item', 'store', 'date'], as_index=False)
train_gp = train_gp.agg({'sales':['mean']})
train_gp.columns = ['item', 'store', 'date', 'sales']
train_gp.head()

   item  store       date  sales
0     1      1 2013-01-01     13
1     1      1 2013-01-02     11
2     1      1 2013-01-03     14
3     1      1 2013-01-04     13
4     1      1 2013-01-05     10

In [138]:
def series_to_supervised(data, window=1, lag=1, dropnan=True):
    cols, names = list(), list()
    for i in range(window, 0, -1):
        cols.append(data.shift(i))
        names += [('%s(t-%d)' % (col, i)) for col in data.columns]
    cols.append(data)
    names += [('%s(t)' % (col)) for col in data.columns]
    cols.append(data.shift(-lag))
    names += [('%s(t+%d)' % (col, lag)) for col in data.columns]
    agg = pd.concat(cols, axis=1)
    agg.columns = names
    if dropnan:
        agg.dropna(inplace=True)
    return agg

In [139]:
window = 10
lag = lag_size
series = series_to_supervised(train_gp.drop('date', axis=1), window=window, lag=lag)
series.head()

,item(t-10),store(t-10),sales(t-10),item(t-9),store(t-9),sales(t-9),item(t-8),store(t-8),sales(t-8),item(t-7),...,sales(t-2),item(t-1),store(t-1),sales(t-1),item(t),store(t),sales(t),item(t+120),store(t+120),sales(t+120)
10,1.0,1.0,13.0,1.0,1.0,11.0,1.0,1.0,14.0,1.0,...,12.0,1.0,1.0,9.0,1,1,9,1.0,1.0,19.0
11,1.0,1.0,11.0,1.0,1.0,14.0,1.0,1.0,13.0,1.0,...,9.0,1.0,1.0,9.0,1,1,7,1.0,1.0,13.0
12,1.0,1.0,14.0,1.0,1.0,13.0,1.0,1.0,10.0,1.0,...,9.0,1.0,1.0,7.0,1,1,10,1.0,1.0,9.0
13,1.0,1.0,13.0,1.0,1.0,10.0,1.0,1.0,12.0,1.0,...,7.0,1.0,1.0,10.0,1,1,12,1.0,1.0,13.0
14,1.0,1.0,10.0,1.0,1.0,12.0,1.0,1.0,10.0,1.0,...,10.0,1.0,1.0,12.0,1,1,5,1.0,1.0,16.0

In [140]:
last_item = 'item(t-%d)' % window
last_store = 'store(t-%d)' % window
series = series[(series['store(t)'] == series[last_store])]
series = series[(series['item(t)'] == series[last_item])]

In [141]:
columns_to_drop = [('%s(t+%d)' % (col, lag)) for col in ['item', 'store']]
for i in range(window, 0, -1):
    columns_to_drop += [('%s(t-%d)' % (col, i)) for col in ['item', 'store']]
series.drop(columns_to_drop, axis=1, inplace=True)
series.drop(['item(t)', 'store(t)'], axis=1, inplace=True)

In [142]:
# Label
labels_col = 'sales(t+%d)' % lag_size
labels = series[labels_col]
series = series.drop(labels_col, axis=1)

X_train, X_valid, Y_train, Y_valid = train_test_split(series, labels.values, test_size=0.4, random_state=0)
print('Train set shape', X_train.shape)
print('Validation set shape', X_valid.shape)
X_train.head()

Train set shape (42832, 11)
Validation set shape (28556, 11)

,sales(t-10),sales(t-9),sales(t-8),sales(t-7),sales(t-6),sales(t-5),sales(t-4),sales(t-3),sales(t-2),sales(t-1),sales(t)
46210,68.0,72.0,72.0,70.0,83.0,69.0,77.0,51.0,68.0,76.0,64
39859,18.0,14.0,12.0,16.0,13.0,24.0,23.0,21.0,11.0,12.0,8
45462,38.0,39.0,38.0,24.0,34.0,34.0,31.0,23.0,26.0,34.0,22
62467,12.0,11.0,16.0,13.0,10.0,16.0,18.0,17.0,18.0,8.0,14
57607,48.0,33.0,39.0,53.0,43.0,47.0,38.0,50.0,39.0,43.0,48

In [112]:
epochs = 1
batch = 256
lr = 0.0003
adam = optimizers.Adam(lr)

In [113]:
X_train_series = X_train.values.reshape((X_train.shape[0], X_train.shape[1], 1))
X_valid_series = X_valid.values.reshape((X_valid.shape[0], X_valid.shape[1], 1))
print('Train set shape', X_train_series.shape)
print('Validation set shape', X_valid_series.shape)

Train set shape (42832, 11, 1)
Validation set shape (28556, 11, 1)

In [135]:
series

,sales(t-10),sales(t-9),sales(t-8),sales(t-7),sales(t-6),sales(t-5),sales(t-4),sales(t-3),sales(t-2),sales(t-1),sales(t)
10,13.0,11.0,14.0,13.0,10.0,12.0,10.0,9.0,12.0,9.0,9
11,11.0,14.0,13.0,10.0,12.0,10.0,9.0,12.0,9.0,9.0,7
12,14.0,13.0,10.0,12.0,10.0,9.0,12.0,9.0,9.0,7.0,10
13,13.0,10.0,12.0,10.0,9.0,12.0,9.0,9.0,7.0,10.0,12
14,10.0,12.0,10.0,9.0,12.0,9.0,9.0,7.0,10.0,12.0,5
...,...,...,...,...,...,...,...,...,...,...,...
76383,41.0,55.0,24.0,38.0,46.0,42.0,51.0,41.0,42.0,34.0,36
76384,55.0,24.0,38.0,46.0,42.0,51.0,41.0,42.0,34.0,36.0,40
76385,24.0,38.0,46.0,42.0,51.0,41.0,42.0,34.0,36.0,40.0,43
76386,38.0,46.0,42.0,51.0,41.0,42.0,34.0,36.0,40.0,43.0,46
76387,46.0,42.0,51.0,41.0,42.0,34.0,36.0,40.0,43.0,46.0,46

In [129]:
Y_train

array([68., 19., 42., ..., 24., 33., 45.])

In [128]:
Y_valid

array([44., 20., 21., ..., 66., 18., 90.])

In [130]:
pd.DataFrame(data=Y_train)

          0
0      68.0
1      19.0
2      42.0
3      17.0
4      63.0
...     ...
42827  49.0
42828  83.0
42829  24.0
42830  33.0
42831  45.0

[42832 rows x 1 columns]

In [131]:
pd.DataFrame(data=Y_valid)

          0
0      44.0
1      20.0
2      21.0
3      18.0
4      37.0
...     ...
28551  66.0
28552  44.0
28553  66.0
28554  18.0
28555  90.0

[28556 rows x 1 columns]

In [114]:
model_cnn = Sequential()
model_cnn.add(Conv1D(filters=64, kernel_size=2, activation='relu', input_shape=(X_train_series.shape[1], X_train_series.shape[2])))
model_cnn.add(MaxPooling1D(pool_size=2))
model_cnn.add(Flatten())
model_cnn.add(Dense(50, activation='relu'))
model_cnn.add(Dense(1))
model_cnn.compile(loss='mse', optimizer=adam)
model_cnn.summary()

Model: "sequential_4"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
conv1d_4 (Conv1D)            (None, 10, 64)            192
_________________________________________________________________
max_pooling1d_4 (MaxPooling1 (None, 5, 64)             0
_________________________________________________________________
flatten_4 (Flatten)          (None, 320)               0
_________________________________________________________________
dense_7 (Dense)              (None, 50)                16050
_________________________________________________________________
dense_8 (Dense)              (None, 1)                 51
=================================================================
Total params: 16,293
Trainable params: 16,293
Non-trainable params: 0
_________________________________________________________________

In [115]:
cnn_history = model_cnn.fit(X_train_series, Y_train, validation_data=(X_valid_series, Y_valid), epochs=epochs, verbose=2)

Train on 42832 samples, validate on 28556 samples
Epoch 1/1
 - 5s - loss: 314.4384 - val_loss: 290.0833

In [119]:
# cnn_train_pred = model_cnn.predict(X_train_series)
cnn_valid_pred = model_cnn.predict(X_valid_series)
# print('Train rmse:', np.sqrt(mean_squared_error(Y_train, cnn_train_pred)))
# print('Validation rmse:', np.sqrt(mean_squared_error(Y_valid, cnn_valid_pred)))
X_valid_series

array([[[40.],
        [53.],
        [27.],
        ...,
        [51.],
        [26.],
        [33.]],

       [[ 8.],
        [10.],
        [ 6.],
        ...,
        [14.],
        [ 6.],
        [ 7.]],

       [[19.],
        [24.],
        [29.],
        ...,
        [21.],
        [21.],
        [20.]],

       ...,

       [[67.],
        [70.],
        [76.],
        ...,
        [73.],
        [69.],
        [76.]],

       [[41.],
        [27.],
        [32.],
        ...,
        [27.],
        [20.],
        [35.]],

       [[50.],
        [67.],
        [42.],
        ...,
        [67.],
        [59.],
        [54.]]])

In [116]:
cnn_train_pred = model_cnn.predict(X_train_series)
cnn_valid_pred = model_cnn.predict(X_valid_series)
print('Train rmse:', np.sqrt(mean_squared_error(Y_train, cnn_train_pred)))
print('Validation rmse:', np.sqrt(mean_squared_error(Y_valid, cnn_valid_pred)))

Train rmse: 17.110417562939816
Validation rmse: 17.031831296866475

In [100]:
cnn_train_pred = model_cnn.predict(X_train_series)
cnn_valid_pred = model_cnn.predict(X_valid_series)
print('Train rmse:', np.sqrt(mean_squared_error(Y_train, cnn_train_pred)))
print('Validation rmse:', np.sqrt(mean_squared_error(Y_valid, cnn_valid_pred)))

Train rmse: 15.05334321457372
Validation rmse: 14.928379125373791

In [49]:
model_cnn

In [53]:
def save_model_to_db2(model, client, db, dbconnection, model_name):
    pickled_model = pickle.dumps(model)
    myclient = pymongo.MongoClient(client)
    mydb = myclient[db]
    mycon = mydb[dbconnection]
    info = mycon.insert_one({model_name: pickled_model, 'name': model_name, 'created_time':time.time()})

In [54]:
def save_model_to_db(model, model_type, user):
    client ='mongodb://root:root123@ds353378.mlab.com:53378/cross-entropy?authSource=cross-entropy&retryWrites=false'
    db = 'cross-entropy'
    dbconnection = 'predictive_models' 
    pickled_model = pickle.dumps(model)
    myclient = pymongo.MongoClient(client)
    mydb = myclient[db]
    mycon = mydb[dbconnection]
    info = mycon.insert_one({ 'model': pickled_model, 'type': model_type, 'created_time': time.time(), 'user': user })

In [79]:
save_model_to_db(model = model_cnn, model_type = 'Prediccion de inventario', user='escruz')

In [77]:
def load_saved_model_from_db(model_type, user):
    client ='mongodb://root:root123@ds353378.mlab.com:53378/cross-entropy?authSource=cross-entropy&retryWrites=false'
    db = 'cross-entropy'
    dbconnection = 'predictive_models' 
    json_data = {}
    myclient = pymongo.MongoClient(client)
    mydb = myclient[db]
    mycon = mydb[dbconnection]
    data = mycon.find({'type': model_type, 'user': user })
    
    for i in data:
        json_data = i
    pickled_model = json_data['model']
    return pickle.loads(pickled_model)

In [78]:
loaded_model  = load_saved_model_from_db(model_type='cnn', user='escruz')

In [80]:
def load_saved_model_from_db2(model_name, client, db, dbconnection):
    json_data = {}
    myclient = pymongo.MongoClient(client)
    mydb = myclient[db]
    mycon = mydb[dbconnection]
    data = mycon.find({'name': model_name})
    
    for i in data:
        json_data = i
    pickled_model = json_data[model_name]
    return pickle.loads(pickled_model)

In [81]:
loaded_model  = load_saved_model_from_db2(client ='mongodb://root:root123@ds353378.mlab.com:53378/cross-entropy?authSource=cross-entropy&retryWrites=false', 
                           db = 'cross-entropy', 
                           dbconnection = 'predictive_models', model_name = 'cnn')

In [52]:
cnn_train_pred = model_cnn.predict(X_train_series)
cnn_valid_pred = model_cnn.predict(X_valid_series)
cnn2_train_pred = loaded_model.predict(X_train_series)
cnn2_valid_pred = loaded_model.predict(X_valid_series)
print('Train rmse:', np.sqrt(mean_squared_error(Y_train, cnn_train_pred)))
print('Validation rmse:', np.sqrt(mean_squared_error(Y_valid, cnn_valid_pred)))
print('Train rmse2:', np.sqrt(mean_squared_error(Y_train, cnn2_train_pred)))
print('Validation rmse2:', np.sqrt(mean_squared_error(Y_valid, cnn2_valid_pred)))

Train rmse: 18.47132336978999
Validation rmse: 18.376544441370537
Train rmse2: 18.47132336978999
Validation rmse2: 18.376544441370537

In [37]:
def series_to_supervised(data, window=1, lag=1, dropnan=True):
    cols, names = list(), list()
    for i in range(window, 0, -1):
        cols.append(data.shift(i))
        names += [('%s(t-%d)' % (col, i)) for col in data.columns]
    cols.append(data)
    names += [('%s(t)' % (col)) for col in data.columns]
    cols.append(data.shift(-lag))
    names += [('%s(t+%d)' % (col, lag)) for col in data.columns]
    agg = pd.concat(cols, axis=1)
    agg.columns = names
    if dropnan:
        agg.dropna(inplace=True)
    return agg

In [9]:
months = 1
lag_size = months * 30
training_data['date'] = pd.to_datetime(training_data['date'])
train_gp = training_data.sort_values('date').groupby(
    ['item', 'store', 'date'], as_index=False)
train_gp = train_gp.agg({'sales': ['mean']})
train_gp.columns = ['item', 'store', 'date', 'sales']
window = 120     
lag = lag_size
series = series_to_supervised(train_gp.drop(
    'date', axis=1), window=window, lag=lag)
last_item = 'item(t-%d)' % window
last_store = 'store(t-%d)' % window
series = series[(series['store(t)'] == series[last_store])]
series = series[(series['item(t)'] == series[last_item])]
columns_to_drop = [('%s(t+%d)' % (col, lag)) for col in ['item', 'store']]
for i in range(window, 0, -1):
    columns_to_drop += [('%s(t-%d)' % (col, i))
                        for col in ['item', 'store']]
series.drop(columns_to_drop, axis=1, inplace=True)
series.drop(['item(t)', 'store(t)'], axis=1, inplace=True)
labels_col = 'sales(t+%d)' % lag_size
labels = series[labels_col]
series = series.drop(labels_col, axis=1)

X_train, X_valid, Y_train, Y_valid = train_test_split(
    series, labels.values, test_size=0.4, random_state=0)
X_train_series = X_train.values.reshape(
    (X_train.shape[0], X_train.shape[1], 1))
X_valid_series = X_valid.values.reshape(
    (X_valid.shape[0], X_valid.shape[1], 1))
trained_data = {'data':{'X_train_series': X_train_series, 'Y_train': Y_train, 'X_valid_series': X_valid_series, 'Y_valid': Y_valid}}

In [27]:
def train_model(X_train_series, X_valid_series, Y_train, Y_valid):
    epochs = 40
    lr = 0.0003
    adam = optimizers.Adam(lr)
    model_cnn = Sequential()
    model_cnn.add(Conv1D(filters=64, kernel_size=2, activation='relu', input_shape=(
        X_train_series.shape[1], X_train_series.shape[2])))
    model_cnn.add(MaxPooling1D(pool_size=2))
    model_cnn.add(Flatten())
    model_cnn.add(Dense(50, activation='relu'))
    model_cnn.add(Dense(1))
    model_cnn.compile(loss='mse', optimizer=adam)
    model_cnn.summary()

    cnn_history = model_cnn.fit(X_train_series, Y_train, validation_data=(
        X_valid_series, Y_valid), epochs=epochs, verbose=2)

In [28]:
t = pd.io.json.json_normalize(trained_data['data'])

In [29]:
df = t.iloc[0]

In [36]:
train_model(df['X_train_series'], df['X_valid_series'], df['Y_train'], df['Y_valid'])

Model: "sequential_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
conv1d_2 (Conv1D)            (None, 120, 64)           192
_________________________________________________________________
max_pooling1d_2 (MaxPooling1 (None, 60, 64)            0
_________________________________________________________________
flatten_2 (Flatten)          (None, 3840)              0
_________________________________________________________________
dense_3 (Dense)              (None, 50)                192050
_________________________________________________________________
dense_4 (Dense)              (None, 1)                 51
=================================================================
Total params: 192,293
Trainable params: 192,293
Non-trainable params: 0
_________________________________________________________________
Train on 9886 samples, validate on 6592 samples
Epoch 1/40
 - 3s - loss: 219.9261 - val_loss: 197.8625
Epoch 2/40
 - 2s - loss: 193.4970 - val_loss: 189.7119
Epoch 3/40
 - 2s - loss: 187.7304 - val_loss: 192.3023
Epoch 4/40
 - 2s - loss: 182.2373 - val_loss: 183.3256
Epoch 5/40
 - 2s - loss: 181.3510 - val_loss: 215.0610
Epoch 6/40
 - 3s - loss: 178.1179 - val_loss: 184.9803
Epoch 7/40
 - 3s - loss: 174.1210 - val_loss: 182.1817
Epoch 8/40
 - 3s - loss: 173.7582 - val_loss: 214.4828
Epoch 9/40
 - 3s - loss: 172.7904 - val_loss: 181.0601
Epoch 10/40
 - 3s - loss: 170.3093 - val_loss: 183.0412
Epoch 11/40
 - 2s - loss: 172.9201 - val_loss: 175.9280
Epoch 12/40
 - 3s - loss: 166.7047 - val_loss: 176.8039
Epoch 13/40
 - 3s - loss: 165.2655 - val_loss: 215.6530
Epoch 14/40
 - 3s - loss: 164.4579 - val_loss: 172.1828
Epoch 15/40
 - 2s - loss: 160.5655 - val_loss: 172.9158
Epoch 16/40
 - 2s - loss: 157.7290 - val_loss: 168.0247
Epoch 17/40
 - 2s - loss: 155.4981 - val_loss: 166.2204
Epoch 18/40
 - 2s - loss: 157.8988 - val_loss: 175.6218
Epoch 19/40
 - 1s - loss: 156.7135 - val_loss: 162.6600
Epoch 20/40
 - 1s - loss: 150.5547 - val_loss: 172.7670
Epoch 21/40
 - 1s - loss: 149.1966 - val_loss: 169.2805
Epoch 22/40
 - 1s - loss: 146.7941 - val_loss: 159.0398
Epoch 23/40
 - 2s - loss: 149.4166 - val_loss: 160.4826
Epoch 24/40
 - 2s - loss: 143.7924 - val_loss: 161.5828
Epoch 25/40
 - 2s - loss: 145.8565 - val_loss: 174.1114
Epoch 26/40
 - 1s - loss: 144.4014 - val_loss: 155.3580
Epoch 27/40
 - 1s - loss: 141.4705 - val_loss: 161.1082
Epoch 28/40
 - 2s - loss: 140.6495 - val_loss: 161.5691
Epoch 29/40
 - 1s - loss: 139.2644 - val_loss: 157.1441
Epoch 30/40
 - 1s - loss: 138.8000 - val_loss: 155.2778
Epoch 31/40
 - 1s - loss: 139.3694 - val_loss: 153.4025
Epoch 32/40
 - 1s - loss: 135.3947 - val_loss: 160.4122
Epoch 33/40
 - 2s - loss: 135.4154 - val_loss: 168.8238
Epoch 34/40
 - 1s - loss: 135.7354 - val_loss: 152.9502
Epoch 35/40
 - 1s - loss: 134.4943 - val_loss: 159.1019
Epoch 36/40
 - 1s - loss: 135.2998 - val_loss: 152.0677
Epoch 37/40
 - 1s - loss: 132.7256 - val_loss: 152.8243
Epoch 38/40
 - 1s - loss: 133.3682 - val_loss: 171.2507
Epoch 39/40
 - 1s - loss: 131.7891 - val_loss: 150.6319
Epoch 40/40
 - 1s - loss: 131.3419 - val_loss: 157.3150

In [38]:
cnn_history

NameError: name 'cnn_history' is not defined

In [82]:
cnn_train_pred = model_cnn.predict(X_train_series)
cnn_valid_pred = model_cnn.predict(X_valid_series)

In [ ]:
X_train_series